<mat-card class="card">
  <mat-card-header class="card-header-with-toggle">
    <mat-card-title class="card-title">
      Progressão Harmônica
      <mat-icon
        class="help-icon"
        matTooltip="Ajuda"
        (click)="
          openHelpDialog('Progressão Harmônica', 'Texto explicativo sobre progressão harmônica...')
        "
        >info</mat-icon
      >
    </mat-card-title>
    <mat-slide-toggle
      [(ngModel)]="autoAddEnabled"
      matTooltip="Se ligado, os acordes tocados são adicionados automaticamente à progressão"
    >
      Adicionar
    </mat-slide-toggle>
  </mat-card-header>

  <mat-card-content>
    <!-- Área de Visualização da Progressão -->
    <div class="progression-display">
      <div *ngIf="progression.length === 0" class="placeholder">
        Ligue o botão "Adicionar", click em "Ouvir Acorde" ou em algum acorde do "Campo Harmônico"
        para adiciona-los aqui.
      </div>
      <div
        *ngFor="let chord of progression; let i = index"
        class="chord-chip"
        [class.active]="i === currentChordIndex"
      >
        <button
          mat-icon-button
          (click)="playSingleChord(chord)"
          class="play-chord-btn"
          matTooltip="Tocar este acorde"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        {{ chord.name }}
        <button
          mat-icon-button
          (click)="removeChord(i)"
          class="remove-chord-btn"
          matTooltip="Remover este acorde"
        >
          <mat-icon class="delete-icon">delete</mat-icon>
        </button>
      </div>
    </div>

    <!-- Controles de Reprodução -->
    <div class="playback-controls">
      <button
        mat-raised-button
        color="primary"
        (click)="playProgression()"
        [disabled]="progression.length === 0 || isPlaying"
      >
        <mat-icon>play_arrow</mat-icon>
        Play
      </button>
      <button mat-raised-button color="warn" (click)="stopProgression()" [disabled]="!isPlaying">
        <mat-icon>stop</mat-icon>
        Stop
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="clearProgression()"
        [disabled]="progression.length === 0"
        matTooltip="Limpar todos os acordes da progressão atual"
      >
        <mat-icon>delete_sweep</mat-icon>
        Limpar
      </button>
      <mat-form-field appearance="fill" class="bpm-field">
        <mat-label>BPM</mat-label>
        <input matInput type="number" [(ngModel)]="bpm" min="40" max="240" />
      </mat-form-field>
    </div>
  </mat-card-content>

  <mat-card-actions class="save-load-actions">
    <mat-form-field appearance="fill" class="progression-name-field">
      <mat-label>Nome da Progressão</mat-label>
      <input matInput [(ngModel)]="progressionName" placeholder="Ex: Pop Progressão" />
      <button
        class="delete-icon-button"
        *ngIf="isProgressionLoaded"
        mat-icon-button
        matSuffix
        (click)="deleteProgression()"
        matTooltip="Excluir progressão salva"
      >
        <mat-icon class="delete-icon">delete</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-stroked-button
      color="primary"
      (click)="saveProgression()"
      [disabled]="progression.length === 0 || !progressionName"
    >
      <mat-icon>save</mat-icon>
      Salvar
    </button>
    <button mat-stroked-button (click)="loadProgressionDialog()">
      <mat-icon>folder_open</mat-icon>
      Progressões
    </button>
  </mat-card-actions>
</mat-card>
