<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      Gerador de Acordes
      <mat-icon class="help-icon" matTooltip="Sobre" (click)="openHelpDialog('Gerador de Acordes', '')">help_outline</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="controls-container">
    <!-- Seletor de Acidentes -->
    <div class="custom-form-field">
      <span class="custom-label">Acidentes</span>
      <mat-button-toggle-group
        [(ngModel)]="useFlats"
        (ngModelChange)="onAccidentalChange()"
        name="chordAccidentals"
        aria-label="Acidentes Musicais para Acordes"
      >
        <mat-button-toggle [value]="false" class="toggle-button">#</mat-button-toggle>
        <mat-button-toggle [value]="true" class="toggle-button">♭</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- Seletor de Tônica -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tônica</mat-label>
      <mat-select [(ngModel)]="selectedRoot">
        <mat-option *ngFor="let note of notes" [value]="note">{{ note }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Seletor de Tipo de Acorde -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tipo de Acorde</mat-label>
      <mat-select [(ngModel)]="selectedChordType">
        <mat-option *ngFor="let type of chordTypes" [value]="type.value"
          >{{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Seletor de Inversão -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Inversão</mat-label>
      <mat-select [(ngModel)]="selectedInversion">
        <mat-option *ngFor="let inversion of inversions" [value]="inversion.value"
          >{{ inversion.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="generateAndPlayChord()">Ouvir Acorde</button>
  </mat-card-actions>
</mat-card>


