// Variables
$primary-color: #3f51b5;
$accent-color: #ff4081;
$warn-color: #f44336;
$yellow-color: #fdd835;
$light-gray-color: #f5f5f5;
$medium-gray-color: #e0e0e0;
$dark-gray-color: #888;
$border-color: #eee;
$text-color-dark: #111;
$text-color-light: #666;
$warn-color: #f57c00;

//Dark-teme
$dark-background-color: #334155;

$spacing-small: 8px;
$spacing-medium: 10px;
$spacing-large: 15px;
$spacing-xlarge: 20px;

$border-radius: 4px;

.card-title {
  color: $primary-color;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

// Mixins
@mixin flex-container($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Main Layout
.main-container {
  background-color: $dark-background-color;
  @include flex-container(column, $gap: $spacing-medium);
  padding: $spacing-large;
}

.top-section {
  @include flex-container(row, $gap: $spacing-medium);
  flex-wrap: wrap;
}

.bottom-section {
  width: 100%;
}

.column {
  @include flex-container(column, $gap: $spacing-medium);
  flex: 1;
  min-width: 320px;
}

.right-column .card {
  flex-grow: 1;
  @include flex-container(column);

  mat-card-content {
    flex-grow: 1;
    @include flex-container(column, $justify: center);
  }
}

// Cards and Containers
.card {
  width: 100%;
}

.controls-container {
  @include flex-container(row, $align: baseline, $gap: $spacing-xlarge);
  flex-wrap: wrap;

  .mat-mdc-form-field {
    position: relative;
    top: 5px;
  }
}

.piano-container {
  min-height: 180px;
  @include flex-container(row, $justify: center, $align: center);
}

// Chord and Progression Display
.chord-display {
  @include flex-container(row, $justify: space-between);
  border: 1px solid $border-color;
  padding: $spacing-small;
  margin-top: $spacing-small;
  border-radius: $border-radius;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: $light-gray-color;
  }

  .chord-name {
    font-weight: bold;
  }

  &.major {
    border-left: 5px solid $primary-color;
  }
  &.minor {
    border-left: 5px solid $accent-color;
  }
  &.dominant {
    border-left: 5px solid $yellow-color;
  }
  &.diminished {
    border-left: 5px solid $warn-color;
  }
}

.progression-display {
  margin-top: $spacing-large;
  padding: $spacing-large;
  border: 1px solid $medium-gray-color;
  border-radius: $border-radius;
  text-align: center;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.progression-chord {
  &:hover {
    background-color: $light-gray-color;
    border-radius: $border-radius;
  }

  &.playing {
    font-weight: bold;
    color: $accent-color;
  }
}

// Scale Display
.scale-display {
  @include flex-container(row, $justify: center, $gap: $spacing-medium);
  flex-wrap: wrap;
}

.scale-note-container {
  @include flex-container(column, $align: center);
}

.scale-note {
  padding: $spacing-medium;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $light-gray-color;
  }
}

// Text and Placeholders
.placeholder {
  color: $warn-color;
  font-style: italic;
  text-align: center;
  padding: $spacing-xlarge 0;
}
.chord-visualization-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: $spacing-small;
}

// Controls and Actions
mat-card-actions {
  @include flex-container(row, $justify: flex-end, $gap: $spacing-small);
}

mat-slider {
  width: 100%;
}

.progression-controls {
  @include flex-container(row, $justify: space-between, $align: center);
  width: 100%;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-large;
  }
}

.playback-buttons {
  @include flex-container(row, $gap: $spacing-large);
}

// Saved Progressions
.saved-progression-item {
  @include flex-container(row, $justify: space-between, $align: center);
  padding: $spacing-small;
  border-bottom: 1px solid $border-color;
}

.saved-progression-text {
  cursor: pointer;
  flex-grow: 1;

  &:hover {
    color: $primary-color;
  }
}

.help-icon {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 8px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.54);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: $primary-color;
  }
}

mat-card-title {
  display: flex;
  align-items: center;
}

.app-logo {
  border-radius: 50%; /* Makes the image round */
  height: 40px; /* Fixed height */
  width: 40px; /* Fixed width */
  margin-right: 10px; /* Space between logo and title */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  cursor: pointer;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .app-logo {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
}

// Footer
.footer {
  font-size: 1rem;
  width: 100%;
  height: auto;
  padding: 16px 0;

  .footer-content {
    @include flex-container(row, $justify: center, $align: center, $gap: $spacing-large);
    width: 100%;
    padding: 0 $spacing-large;
    flex-wrap: wrap;
    text-align: center;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 600px) {
      @include flex-container(column, $justify: center, $align: center, $gap: $spacing-small);
    }
  }
}
