<svg [attr.viewBox]="'0 0 ' + viewBoxWidth + ' ' + viewBoxHeight" preserveAspectRatio="xMidYMid meet">
  <!-- White Keys -->
  <g *ngFor="let key of keys" (click)="onKeyClick(key)">
    <rect
      *ngIf="key.type === 'white'"
      [attr.x]="key.x"
      y="0"
      [attr.width]="key.width"
      [attr.height]="viewBoxHeight"
      class="white-key"
      [class.highlighted]="key.isHighlighted"
    />
    <text
      *ngIf="key.type === 'white'"
      [attr.x]="key.x + key.width / 2"
      [attr.y]="viewBoxHeight - 10"
      class="key-name white-key-name"
    >
      {{ key.displayName }}
    </text>  </g>

  <!-- Black Keys (rendered second to appear on top) -->
  <g *ngFor="let key of keys" (click)="onKeyClick(key)">
    <rect
      *ngIf="key.type === 'black'"
      [attr.x]="key.x"
      y="0"
      [attr.width]="key.width"
      [attr.height]="viewBoxHeight * 0.6"
      class="black-key"
      [class.highlighted]="key.isHighlighted"
    />
    <text
      *ngIf="key.type === 'black'"
      [attr.x]="key.x + key.width / 2"
      [attr.y]="viewBoxHeight * 0.6 - 10"
      class="key-name black-key-name"
    >
      {{ key.displayName }}
    </text>
  </g>
</svg>