@use "sass:color";

// Variables
$max-width: 1200px;
$white-key-color: #ffffff;
$black-key-color: #222222;
$highlight-color: #ff4081; // Angular Material Accent Color (Pink)
$stroke-color: #cccccc;
$white-key-name-color: #111111;
$black-key-name-color: #ffffff;
$transition-speed: 0.15s;

// Mixins
@mixin user-select-none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

// Host and SVG
:host {
  display: block;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

svg {
  width: 100%;
  display: block;
}

// Piano Keys
.white-key, .black-key {
  transition: fill $transition-speed ease-in-out;
  cursor: pointer;
}

.white-key {
  fill: $white-key-color;
  stroke: $stroke-color;
  stroke-width: 1px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));

  &:hover {
    fill: color.adjust($white-key-color, $lightness: -10%);
  }

  .white-key-name {
    fill: $white-key-name-color;
  }
}

.black-key {
  fill: $black-key-color;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4));

  &:hover {
    fill: color.adjust($black-key-color, $lightness: 10%);
  }

  .black-key-name {
    fill: $black-key-name-color;
  }
}

// Key States
.highlighted {
  fill: $highlight-color;
  stroke: none;

  &:hover {
    fill: color.adjust($highlight-color, $lightness: -5%);
  }
}

// Key Names
.key-name {
  text-anchor: middle;
  font-size: 12px;
  font-weight: bold;
  @include user-select-none;
}